.main-nav-header{
    background-color: white;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.user-initial{
    background: #ccc;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pxs;
}