form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 5px;
}
form label {
  font-size: 14px;
}
form input, form select{
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 7px;
  border: #dadada solid thin;
  background-color: #faf7f7;
}
form .css-13cymwt-control{
    background-color: #faf7f7;
    min-height: 43px;
}
.form-children{
    display: flex;
    gap: 30px;
}
.form-layouts{
    width: 50%;
    display: flex;
    gap:10px;
    flex-direction: column;
}

.form .fileUploader{
    margin-top: 15px;
    background-color: #faf7f7;
    border: dashed #ccc 2px;
}
.form .fileContainer{
    background-color: transparent;
}
.form .fileContainer .chooseFileButton{
    background: #ffffff;
    color: #313030;
}
.form .fileContainer .chooseFileButton:hover{
    background: #ffffff;
    color: #313030;
}
.separator{
    border: #e8e8e8 solid thin;
}
/* form .submit-btn{
    background-color: black !important;
    color: white;
} */
